@font-face {
    font-family: 'NikaWeb';

    src:  url('Nika-Regular.woff2') format('woff2'),
      url('Nika-Regular.woff') format('woff'),
    url('Nika-Regular.otf') format('opentype') ,
    url('Nika-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TestFont';
    src:url('Nika-Regular.woff2') format('woff2'),
    url('Nika-Regular.woff') format('woff'),
    url('Nika-Regular.otf') format('opentype') ,
    url('Nika-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Ganj';
    src:url('GanjNamehSans-Regular.woff2') format('woff2'),
    url('GanjNamehSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'FSIcon';
    src:url('fontstore-icon.woff2') format('woff2'),
    url('fontstore-icon.woff') format('woff'),
    url('fontstore-icon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'LalezarWeb';
    src:  url('Lalezar-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

